.people {
  &__content {
    display: grid;
    grid-template-columns: minmax(720px, 1.35fr) minmax(320px, 0.9fr);
    align-items: flex-start;
    gap: 20px;
  }

  .heidy-tip {
    max-width: 450px;
  }

  @media (width <= 1280px) {
    &__content {
      grid-template-columns: minmax(0, 1fr) 360px;
    }
  }

  @media (width <= 1024px) {
    &__content {
      grid-template-columns: 1fr;
    }
  }
}
